.hide { display: none; }

div.container {
	display: flex; align-items: center;
	div.switcher {
		.switch_years {}
		.switch_months {}
	}
	div.slider_container {
		.line_container {
			width: 100%;
			div.line { width: 100%; height: 5px; background-color: darkgray; border-radius: 100px; }
			div.line_years { display: flex; gap: 12px; }
			div.line_month { display: flex; gap: 12px; }
		}
		.slider_years {}
		.slider_months {}
	}
}

.line_active { position: absolute; width: 300px; height: 5px; background-color: cornflowerblue; border-radius: 100px; }
.touch_from {}
.touch_until {}
.window_from {}
.window_until {}